        {{ if .Params.chapter }}
            </div> <!-- end chapter-->
        {{ end }}
        </div> 
        {{ partial "custom-comments.html" . }}
      </div>

    <div id="navigation">
        <!-- Next prev page -->
        {{ $currentNode := . }}
        
        {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
        
        {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
                {{if hasPrefix $currentNode.URL .menu.URL }}
                    {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
                    {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
                {{else}}
                    {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
                        {{ $currentNode.Scratch.Set "NextPageOK" nil }}
                        {{ $currentNode.Scratch.Set "nextPage" .menu }}
                    {{end}}
                {{end}}
                {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

                    {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
                    {{ if .menu.IsHome}}
                        {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
                    {{ else if .menu.Sections}}
                        {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
                    {{end}}
                    {{ $pages := ($currentNode.Scratch.Get "pages") }}

                    {{ range $pages.ByWeight  }}
                        {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
                    {{end}}
            {{ end }}
        {{ end }}


        {{with ($.Scratch.Get "prevPage")}}
            <a class="nav nav-prev" href="{{.URL}}" title="{{.Title}}"> <i class="fas fa-chevron-left"></i></a>
        {{end}}
        {{with ($.Scratch.Get "nextPage")}}
            <a class="nav nav-next" href="{{.URL}}" title="{{.Title}}" style="margin-right: 0px;"><i class="fas fa-chevron-right"></i></a>
        {{end}}
    </div>

    </section>
    
    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>


    {{ $clipboard := resources.Get "js/clipboard.min.js" }}
    {{ $scrollbar := resources.Get "js/perfect-scrollbar.min.js" }}
    {{ $jQscrollbar := resources.Get "js/perfect-scrollbar.jquery.min.js" }}
    {{ $sticky := resources.Get "js/jquery.sticky.js" }}
    {{ $featherlight := resources.Get "js/featherlight.min.js" }}
    {{ $html5 := resources.Get "js/html5shiv-printshiv.min.js" }}
    {{ $highlight := resources.Get "js/highlight.pack.js" }}
    {{ $modernizr := resources.Get "js/modernizr.custom.71422.js" }}
    {{ $learn := resources.Get "js/learn.js" }}
    {{ $hugolearn := resources.Get "js/hugo-learn.js" }}
    {{ $mermaid := resources.Get "mermaid/mermaid.js" }}
    
    {{ $effects := slice $clipboard $scrollbar $jQscrollbar $sticky $featherlight $html5 $highlight | resources.Concat "js/effects.js" }}
    {{ $theme := slice $modernizr $learn $hugolearn | resources.Concat "js/theme.js" }}
    {{ $additional := slice $mermaid | resources.Concat "js/additional.js" }}

    {{ $effectsJS := $effects | resources.Minify | resources.Fingerprint }}
    {{ $themeJS := $theme | resources.Minify | resources.Fingerprint }}
    {{ $additionalJS := $additional | resources.Minify | resources.Fingerprint }}
    <script src="{{ $effectsJS.Permalink }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ $themeJS.Permalink }}"></script>
    <script src="{{ $additionalJS.Permalink }}"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
    {{ partial "custom-footer.html" . }}
  </body>
</html>
