<div class="search">
    <label for="search-input"><i class="fas fa-search"></i></label>
    <input type="text" id="search-input" placeholder="{{ i18n "Search-placeholder"}}">
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript">
    var client = algoliasearch("GEETCE1DI1", "b0971ec5f58948f0ef803d3eccf92bad")
    var index = client.initIndex('{{ .Site.Params.algoliaindex }}');
    autocomplete(
        '#search-input',
        { hint: true, autoselect: false, keyboardShortcuts: ['s']  },
        [{
        source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
        displayKey: 'title',
        templates: {
            //footer: '<div class="branding"><img src="https://www.algolia.com/assets/algolia128x40.png" style="height:18px;" /> </div>',
            suggestion: function(suggestion) {
            if (typeof suggestion._snippetResult !== 'undefined') {
                return ('<div class="">' +
                '<div class="icon">'+ suggestion.icon +'</div>' +
                '<div class="title">'                     +suggestion._highlightResult.title.value+ '</div>'+
                '<div class="text">...'+suggestion._snippetResult.text.value+'...</div>' +
                '</div>');
            } else {
            return ('<div class="">' +
                '<div class="icon">'+ suggestion.icon +'</div>' +
                '<div class="title">'                     +suggestion._highlightResult.title.value+ '</div>'+
                '</div>');
            }
            }
        }
        }
    ]).on('autocomplete:selected', function(event, suggestion, dataset) {
    window.open(suggestion.url,"_self");
    });
</script>
