<p>{{ i18n "Usefull-links" }}</p>
<p><a href="{{ .Site.Params.homepageUrl }}{{ .Site.Params.forumUrl }}" target="_blank"><i class="fa fa-life-ring"></i> pascom Forum</a></p>
<p><a href="{{ .Site.Params.mypascom }}" target="_blank" title=" my.pascom Portal"><i class="fa fa-shopping-cart"></i> my.pascom.net</a></p>
<p><a href="{{ .Site.Params.homepageUrl }}{{ .Lang }}/{{ .Site.Params.legalnoticeUrl }}" target="_blank" title="pascom {{ i18n "Legal-notice" }}"><i class="fa fa-gavel"></i> {{ i18n "Legal-notice" }}</a></p>